aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.13.3
amqp==5.2.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio
alabaster
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
asyncssh==2.17.0
atpublic==5.0
attrs==24.2.0
awscli==1.35.10
babel==2.16.0
beautifulsoup4==4.12.3
billiard==4.2.1
black
bleach==6.1.0
blinker==1.8.2
botocore==1.35.44
cachetools==5.5.0
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==3.1.0
colorama==0.4.6
comm==0.2.2
configobj==5.0.9
contourpy
cryptography==43.0.3
cycler==0.12.1
databricks-sdk==0.35.0
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dictdiffer==0.9.0
diskcache==5.6.3
distro==1.9.0
docker==7.1.0
docutils
dpath==2.2.0
dulwich==0.22.3
dvc
dvc-data
dvc-http
dvc-objects
dvc-render
dvc-studio-client
dvc-task
dvclive
exceptiongroup
executing
fastapi
fastjsonschema
filelock
flake8
Flask
flatten-dict
flufl.lock
fonttools
fqdn
frozenlist
fsspec
funcy
ghp-import
gitdb
GitPython
google-auth
grandalf
graphene
graphql-core
graphql-relay
greenlet
gto
gunicorn
h11
httpcore
httpx
hydra-core
idna
imagesize
importlib_metadata
iniconfig
ipykernel
ipython
isoduration
isort
iterative-telemetry
itsdangerous
jedi
Jinja2
jmespath
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kiwisolver==1.4.7
kombu==5.4.2
loguru==0.7.2
Mako==1.3.5
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
mergedeep
mistune
mkdocs
mkdocs-get-deps
mlflow
mlflow-skinny
multidict
mypy-extensions
nbclient
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx
notebook
notebook_shim
numpy
nvidia-nccl-cu12
omegaconf
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pillow
platformdirs
pluggy
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydot==3.0.2
pyflakes==3.2.0
pygit2
Pygments
pygtrie
pynvml
pyparsing
pytest
python-dateutil
python-dotenv
python-json-logger
pytz
PyYAML
pyyaml_env_tag
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
scikit-learn
scipy
scmrepo
seaborn
semver
Send2Trash
shellingham
shortuuid
shtab
six
smmap
sniffio
snowballstemmer
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
sqlparse
sqltrie
stack-data
starlette
tabulate
terminado
threadpoolctl
tinycss2
tomli
tomlkit
tornado
tqdm
traitlets
typer
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
uvicorn
vine
voluptuous
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wrapt
xgboost
yarl
zc.lockfile
zipp
